{% extends "layout.html" %}

{% block header %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center mb-2">


      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('home') }}" class="nav-link px-2 link-body-emphasis">Dashboard</a></li>

        {% if accounts|length > 0 %}
        <li><a href="{{ url_for('addtransaction') }}" class="nav-link px-2 link-secondary">Accounts</a></li>
        <li><a href="{{ url_for('accountdetails') }}" class="nav-link px-2 link-body-emphasis">Details</a></li>
        {% if accounts|length < 3 %}
        <li><a href="{{ url_for('addact') }}" class="nav-link px-2 link-body-emphasis">Add New Account</a></li>
        {% endif %}
        {% else %}
        <li><a href="{{ url_for('addact') }}" class="nav-link px-2 link-body-emphasis">Add New Account</a></li>
        {% endif %}


      </ul>
      <h8 class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">Welcome {{ current_user.fullname
        }} </h8>
      <a class="btn btn-outline-primary me-2" href="{{ url_for('logout') }}">Logout</a>

    </div>
  </div>
</header>

{% endblock %}

{% block body %}
<form>
<div class="col-auto card bg-dark text-white m-1" style="border-radius: 1rem">
    <div class="container-fluid row justify-content-center" action="/addtransaction" method="POST">
        <div class="card-header border rounded col-auto m-2">
        <p class="font-weight-bold">Select Account:</p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <select class="p-2 card-body form-control" name="accountSelected" id="accountSelected" placeholder="Account to Select" required>
            <option value="..."selected>Select</option>
            {% for account in accounts %}
            <option value="{{ account.id|string }}" {% if showaccount == account.id|string %}{% endif %}>{{ account.currency }}</option>
        {% endfor %}  
        </select>
        
        
        </div>
        <div class="card-header border rounded col-auto m-2" id="actualaccount"> 
        </div>
    
</div>
</div>
<hr>   

<div class="col-auto card bg-dark text-white p-2 justify-content" style="border-radius: 1rem">
  <div class="container-fluid row justify-content-center" action="/addtransaction" method="POST">
    <div class="col-6 card bg-dark text-white p-2" style="border-radius: 1rem"  id="showholders">
    </div>
    <div class="col-6 card bg-dark text-white p-2" style="border-radius: 1rem"  id="showdetails">
    </div>
  </div>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="static/js/addtransaction.js"></script>
{% endblock %}