{% extends "layout.html" %}

{% block header %}
<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ url_for('home') }}" class="nav-link px-2 link-secondary">Overview</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Spare</a></li>
          <li><a href="#" class="nav-link px-2 link-body-emphasis">Spare</a></li>
          <li><a href="{{ url_for('addact') }}" class="nav-link px-2 link-body-emphasis">Add Account</a></li>
        </ul>
        <h8 class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" >Bienvenido {{ current_user.fullname }} </h8>  
        <a class="btn btn-outline-primary me-2"  href="{{ url_for('logout') }}">Logout</a>
        
          </ul>
        </div>
      </div>
    </div>
  </header>
<div class="b-example-divider"></div>
{% endblock %}

{% block body %}
<div class="row mb-2">
  {% if accounts|length != 0 %}
    {% for account in accounts %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-body-secondary">Nov 12</div>
            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="stretched-link">Continue reading</a>
          </div>
          <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <p>No accounts found.</p>
        <a href="{{ url_for('addact') }}" class="stretched-link">Create new account</a>
      </div>
    </div>
  {% endif %}
</div>   
{% endblock %}

