{% extends "layout.html" %}

{% block header %}
<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('home') }}" class="nav-link px-2 link-secondary">Overview</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Spare</a></li>
        <li><a href="#" class="nav-link px-2 link-body-emphasis">Spare</a></li>
        {% if accounts|length < 3 %} <li><a href="{{ url_for('addact') }}" class="nav-link px-2 link-body-emphasis">Add
            Account</a></li>
          {% endif %}
      </ul>
      <h8 class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">Bienvenido {{ current_user.fullname
        }} </h8>
      <a class="btn btn-outline-primary me-2" href="{{ url_for('logout') }}">Logout</a>

      </ul>
    </div>
  </div>
  </div>
</header>
<div class="b-example-divider"></div>
{% endblock %}

{% block body %}
<div>
  {% if accounts|length != 0 %}
  <div class="row">
    {% for account in accounts %}
      <div class="col-md-4">
        <div class="border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="p-4 d-flex flex-column position-static">
            <h3 class="text-center mb-3">Account in {{ account.currency }}</h3>
            <h4 class="text-center">{{ account.currency }}{{ account.amount }}</h4>
            <div class="text-center mb-1 text-body-secondary">Last Update {{ account.datemodified.strftime('%d/%m/%Y') }} {{ account.datemodified.strftime("%H:%M:%S") }}</div>
            <hr>
            <div class="d-flex justify-content-between">
              <div>
                <h4 class="text-center mb-3">LOCATIONS</h4>
                {% for loca in locs %}
                  {% if loca.accountid == account.id %}
                    <div class="d-inline-block flex-row flex-column">
                      <h5 class="mb-0">{{ loca.name }} --> {{ loca.amount }}</h5>
                    </div>
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
              <div>
                <h4 class="text-center mb-3">DISTRIBUTION</h4>
                {% for dstr in dsrts %}
                  {% if dstr.accountid == account.id %}
                    <div class="d-inline-block flex-row flex-column">
                      <h5 class="mb-0">{{ dstr.name }} --> {{ dstr.amount }}</h5>
                    </div>
                    <br>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <hr>
            {% for total in totals %}
              {% if total.accountid == account.id %}
                <div class="d-inline-block flex-row flex-column">
                  <h5 class="mb-0 text-center">TOTAL IN ACCOUNT: {{ account.currency }}{{ total.total }}</h5>
                </div>
                <br>
              {% endif %}
            {% endfor %}
          </div>
          <button class="btn btn-sm btn-danger delete-account" data-account-id="{{ account.id }}">Eliminar</button>
        </div>
       
      </div>
      
    {% endfor %}
  </div>  
  {% else %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p>No accounts found.</p>
        <a href="{{ url_for('addact') }}" class="stretched-link">Create new account</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<script src="static/js/home.js"></script>
{% endblock %}